# Игнорирование файлов с расширением .pyc
*.pyc

# Игнорирование директории __pycache__ (часто создается Python)
__pycache__/

# Игнорирование файлов настроек и временных файлов
*.swp
.vscode/
.idea/
.venv/
wallets.txt
config.py
result.csv